<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org">
    <title th:text="${pageTitle}"></title>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/javasc.js"></script>
    <style type=”text/css”> </style>

    <!-- Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>


    <!-- CSS Header-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <!-- CSS Profile-->

    <!-- CSS Gallery footer-->
</head>

<header>
    <!--{% include "partials/header.html" %}-->
    <div class="header">
        <a href=#>
            <img src="https://i.ibb.co/t3Lr25T/logo.gif" alt="logo" border="0">
            <!--img src="https://imgur.com/5mz2wC1.png" class="logo" href=#</img--></a>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->

        <div class="header-right">
            <a href="#">Home</a>
            <a href="#">Portfolio</a>
        </div>
    </div>
</header>

<body>
    <!-- Profile -->
    <h2 style="text-align: center;"><b>Profile</b></h2>

    <div class="card">
        <img src="https://i.ibb.co/DpC8BNC/sq.jpg" alt="abang" style="width:100%"/>
        <h1>Siti Aulia Rahmatussyifa</h1>
        <p class="npm">Jakarta, 31 December 1999</p>
        <desc style="font-size:80%;">I'm a student and passionate about travel. Enthusiast about sport, music, and photography. Based on Jakarta</desc>
        <div style="margin-top: 10px;">
            <a href="http://twitter.com/sarsyifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/5d3d780bc5f54281a95161f21bc6f343?quality=95&fake=.png" alt="twitter" style="width:12%"></a>
            <a href="https://plus.google.com/u/0/106198580709783861549" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/c3c9ce5e47514cbe82e7aa3aee4e6637?quality=95&fake=.png" alt="g+" style="width:12%"></a>
            <a href="http://facebook.com/sar.syifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/3ae1d17d4900438881f4eda63cd50553?quality=95&fake=.png" alt="fb" style="width:12%; transform: translate(5%);"></a>
            <a href="http://instagram.com/sarsyifa" target="_blank"><img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/fb23d13f1beb45f8b2efb5df183e1029?quality=95&fake=.png" alt="ig+" style="width:10%"></a>
        </div>

        <p><button><a href="mailto:sarsyifa@gmail.com" style="color: #47525E">Contact Me</a></button></p>
    </div>

    <div class="content">
        <button class="accordion">Riwayat Pendidikan</button>
        <div class="content">
            <p>2017 - Sekarang     : Fakultas Ilmu Komputer, Universitas Indonesia</p>
            <p>2014 - 2017         : SMAN 1 Depok</p>
            <p>2011 - 2014         : SMPN 179 Jakarta</p>
            <p>2005 - 2011         : SDIT As-Sa'Adah</p>
        </div>

        <button class="accordion">Organisasi</button>
        <div class="content">
            <p>BEM Fasilkom UI 2018 - Staf Departemen Olahraga</p>
        </div>

        <button class="accordion">Kepanitiaan</button>
        <div class="content">
            <p>CS League 2018 - Staf Pertandingan</p>
            <p>Wisuda Genap Fasilkom UI 2018 - Staf Dokumentasi</p>
        </div>
    </div>

</body>
</html>